:host ::ng-deep {
    .p-button-label {
        display: none;
    }
    p-inputnumber,
    .p-inputnumber {
        width: 100%;
    }

    .p-datatable .p-datatable-footer {
        padding: 0 !important;
    }
}
